@import '../../styles/variables.scss';

.button__container {
  height: 5rem;
  border-radius: 999px;
  font-size: 1.6rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $color-primary;
  box-shadow: $shadow;
  min-width: 20rem;
  transition: 0.3s all;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-dark;
  }
}