@import '../../styles/variables.scss';

.tree {
  &__item {
    position: relative;
    height: 4.8rem;
    max-width: 35.4rem;
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 1rem;
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 2px solid;
    border-color: transparent;
    transition: border-color 0.3s;
    &:hover {
      border-color: $color-primary;
    }
    &--selected {
      border-color: $color-primary;
    }
  }
  &--actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__text {
    font-weight: bold;
  }
  &__action {
    margin-left: 2rem;
    cursor: pointer;
    &--plus {
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}