
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Product\ Sans\ Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/Product\ Sans\ Italic.ttf') format('TrueType');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Product\ Sans\ Bold.ttf') format('TrueType');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/Product\ Sans\ Bold\ Italic.ttf') format('TrueType');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/ProductSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/ProductSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/ProductSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 200;
  src: url('./fonts/ProductSans-ThinItalic.woff') format('woff');
}


