@import './mixins.scss';
@import './variables.scss';
@import './responsive.scss';
@import './fonts.scss';

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Product Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  pointer-events: all;
}

/* Animations style */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
  // display: none;
}
/* Animations style */

.layout {
  &__container {
    background-color: $color-primary;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__nav {
    width: 9.5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    flex: 1;
    background-color: $color-primary-lighter;
    height: 100vh;
    border-radius: 3rem 0 0 3rem;
    padding: 3rem 4.5rem;
  }
}

p {
  @extend .text-m;
}

h1 {
  font-size: 5rem;
}

.text {
  &-xs {
    font-size: 1.2rem;
  }
  &-s {
    font-size: 1.4rem;
  }
  &-m {
    font-size: 1.6rem;
  }
  &-lg {
    font-size: 2rem;
  }
  &-xl {
    font-size: 2.6rem;
  }
  &-2xl {
    font-size: 3rem;
  }
  &-3xl {
    font-size: 4.6rem;
  }
}