$color-primary: #FF6E6E;
$color-primary-dark: #EE6868;
$color-primary-darker: #DC5A5A;
$color-primary-light: #FEE6E6;
$color-primary-lighter: #FDF2F2;
$dark-gray: #3B3B3B;
$white: #fff;
$black: #000;

$shadow: 0px 4px 13px rgba($dark-gray, 0.1);