@import '../../styles/variables.scss';

.modal {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: $dark-gray, $alpha: 0.4);
    // display: none;
    z-index: -1;
    justify-content: center;
    align-items: flex-start;
    padding: 10rem 1rem 5rem 1rem;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--open {
    display: flex;
    z-index: 999;
  }
  &__content {
    position: relative;
    background-color: $white;
    border-radius: 3rem;
    padding: 4rem 4.5rem 3rem 4.5rem;
    width: fit-content;
    box-shadow: $shadow;
  }
  &__close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }
}