@import '../../styles/variables.scss';

.base__link {
  display: inline-block;
  font-size: 1.6rem;
  color: $color-primary;
  border-bottom: 2px solid;
  border-color: $color-primary;
  transition: 0.3s all;
  cursor: pointer;
  &:hover {
    color: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}